# Dependencies
node_modules/

# Next.js
.next/
out/
.turbo/

# Env (local only)
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
