Flask
Flask-Login
Flask-SQLAlchemy
pymysql
psycopg2-binary
python-dotenv
SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-JWT-Extended
Flask-Mailman
Flask-bcrypt
python-engineio
python-socketio
flask_socketio
requests
reportlab
cryptography
flask-cors
Flask-SocketIO
twilio
gunicorn
eventlet
