flask
flask-login
flask-sqlalchemy
pymysql
psycopg2-binary
python-dotenv
sqlalchemy
flask-migrate
flask-wtf
flask-jwt-extended
flask-bcrypt
python-engineio
python-socketio
flask-socketio
requests
reportlab
cryptography
flask-cors
twilio
gunicorn
flask-limiter>=3.7
supabase>=1.2
# email-validator is used for input validation
email-validator
resend
